<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
<div hidden id="snipcart" data-api-key="NjYzODQ0YWEtYzZhOS00OGZmLWJjNmMtMzI1N2M0MmI3ZDU2NjM3MjY3Nzg2NDU4NTI4OTQx"></div>
<script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
</html>
</html>
